
button {
  cursor: pointer;
}

.btn {
  margin: 0 4px;
}

.card .price {
  position: absolute;
  top: 8px;
  right: 8px;
}

.card .card-body .card-link {
  margin-left: 0;
}

.card .card-img-top {
  object-fit: contain;
  height: 150px;
}

.nav-item .dropdown {
  cursor: pointer;
}

/* .bg-dark {
  background-color: #343a40 !important;
} */

.footer {
  padding: 16px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.old-image {
  max-height: 175px;
}